.react-chatbot-kit-chat-bot-avatar {
    background-color: red;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
    margin-right: 15px;
    color: white;
}